<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringChat</title>
</head>
<body>
<div>
    <div>
        <label for="from">From</label>
        <input id="from">
        <br>
        <label for="text">Text</label>
        <input id="text">
        <br>
        <label for="recipient">Recipient</label>
        <input id="recipient">
        <br>
        <button id="send">Send</button>
    </div>
    <div id="messages">
    </div>
</div>
<script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.js}" type="text/javascript"></script>
<script src="/chat.js" type="text/javascript"></script>
</body>
</html>